body {
  background-image: url("../img/img/201n19bus-mallbackground.png"); 
  background-size: 960px;
  /* max-width: 960px; */
  width: 100%;
  min-width: 960px;
}
/* //Photo by Jay Ee on Unsplash// */

/* everything in the header */

header {
  height: 100px;
  border-bottom: solid;
  width: 100%;
}

header nav {
  margin: auto;
  /* display: inline; */
}

header img {
  margin-top: 15px;
  margin-left: 2%;
  float: left;
}

header ul {
  float: left;
  margin-left: 1%;
}

header li {
  display: inline;
  line-height: 100px;
  margin: 10px;
}

header li:first-child {
  margin-right: 570px;
}

header a {
  text-decoration: none;
  color: rgb(35, 35, 75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

/* // everything in the main // */

main {
  height: 600px;
  width: 960px;
}

main h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-decoration: none;
  color: rgb(35, 35, 75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

main img {
  margin-top: 0px;
  border: solid rgb(35, 35, 75);
  border-radius: 10px;
  width: 260px;
}

main img:hover {
  border: solid rgb(221, 51, 136);
  transform: scale(1.1);
  cursor: pointer;
}

main li:first-child {
  margin-left: 50px;
}

main li {
  margin-left: 30px;
  margin-top: 0px;
  float: left;
} 

footer {
  height: 100px;
  width: 960px;
  margin: auto;
}

/* // working on results render // */

/* main ul li {
  background-color: lightblue;
  width: 50%;
  height: 50%;
  margin: 2px;
} */

thead {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    /* /* border: 2px solid rgb(200, 200, 200); */
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    /* font-size: .8rem; */
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}

/* // chart design // */

/* canvas {
  background-color: rgb(224, 255, 255, 0.6);
} */
